//custom Bootstrap

$font-family-sans-serif:"Rubik", sans-serif;

$primary: #5265e1;
$secondary: #fa5959;


// CSS



body{
    overflow-x: hidden;
	
	box-sizing: border-box;
}

.blue-pill-right {
	position: absolute;
	z-index: -1;
	width: 400%;
	height: 75%;
	top: 30%;
	left: 30%;
}

.blue-pill-left {
	position: absolute;
	z-index: -1;
	width: 400%;
	height: 95%;
	top: 23%;
	right: 15%;
}

.card .img-size{
	width: 35%;
}



//overwriting CSS

.navbar-nav .nav-item .nav-link{
    font-size: 0.65rem;
    letter-spacing: 0.05rem;
}

.nav-tabs .nav-item .nav-link.active{
	color:#212529;
	border-bottom: 3px solid $secondary;
}

.nav-tabs .nav-item .nav-link{
	color:#6c757d;
	border:none;
}

.nav .nav-item .nav-link{
	letter-spacing: 0.1rem;
	font-size: 0.80rem;
}



//import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";